.home {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  grid-template-areas:
          "M D D D D"
          "M D D D D"
          "M D D D D"
          "M D D D D";
  .menu {
    grid-area: M;
    background: #AED6F1;
    border-radius: 5px;
    .tabs {
      display: flex;
      .tab {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        padding: .5rem 0;
        &--not-selected {
          box-shadow: -4px -4px 3px rgba(0, 0, 0, 0.3) inset;
          background: #FFF;
        }
        &--not-selected-right {
          box-shadow: 4px -4px 3px rgba(0, 0, 0, 0.3) inset;
          background: #FFF;
        }
      }
    }
    input {
      margin: .5rem;
    }
    .label {
      margin: 0 .5rem;
    }
    .button {
      cursor: pointer;
      margin: .5rem;
      padding: .5rem;
      background: #FFF;
    }
  }
  .drawing-zone {
    grid-area: D;
    max-width: calc(100vh - 20px);
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .my-place {
      position: relative;
      border: 1px solid red;

      .meuble {
        cursor: pointer;
        position: absolute;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: #DDD;
        transform-origin: 50% 50%;
      }
    }
  }
}